<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">AdaptLab</a>
    <ul class="nav pull-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Result<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <% @results.each do |result| %>
            <li>
              <%= link_to result.result_id, participant_result_answers_path(@participant, result.result_id) %>
            </li>
          <% end %>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Participant <span class="badge badge-info"><%= @participant._id %></span><b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#"><%= @participant._id %></a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
